*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
/*    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(../images/back.jpg);*/
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
}


.circle__ongoing__test, .circle__done__tests, .circle__theme, .circle__logout {
    float: left;
    font-size: 50px;
    margin-left: 20%;
    border: 2px solid #f7b731;
    height: 310px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    width: 310px;
    position: relative;
    color: #f7b731;
    outline: none;
}

.circle__done__tests {
    margin-left: 15%;
}

.circle__theme {
    clear: both;
    margin: 2% 0 0 20%;

}

.circle__logout {
    margin: 2% 0 0 15%;
}

h4, h4:hover{
    position: absolute;              
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle__ongoing__test:hover, .circle__done__tests:hover, .circle__theme:hover, .circle__logout:hover {
    background-color: #BFB2FF;
    transition: 1s;
    opacity: 0.7;
}